 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Quem sou eu</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Desenvolvedor web atualmente trabalha com Java + Spring Boot e Vue.js. Também tem experiencia na 
                        linguagem Python, tendo desenvolvido alguns projetos particulares utilizando está linguagem junto com Django.</p>
                </div>
                <div class="col-lg-4">
                    <p>Atualmente está cursando o 5º semestre de Sistemas da Informação - UFMS/Coxim e desde fev/2019 é 
                    estagiário fullstack na empresa <a style="color: grey;" href="https://www.azi.com.br/">AZ Tecnologia em Gestão</a></p>
                </div>                
            </div>
        </div>
    </section>
